/.idea
/admin/node_modules/
/database/node_modules/

/admin/package-lock.json
/database/package-lock.json

/admin/build/
/database/build/

/deviceManager/node_modules/
/logs/node_modules/

/deviceManager/package-lock.json
/logs/package-lock.json

/deviceManager/build/
/logs/build/

